.BannerTop {
    width: 100%;
    height: 632px;
    background-color: #211c24;

    .row {
        display: flex;

        .left {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h5 {
                color: #909090;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
            }
            h2 {
                padding: 24px 0;
                color: #fff;
                font-weight: 200;
                font-size: 96px;
                line-height: 72px;
                b {
                    font-weight: 600;
                }
            }
            p {
                color: #909090;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                padding-bottom: 24px;
            }
            a {
                color: #fff;
                border: 1px solid #fff;
                background-color: #211C24;
            }
        }

        .right {
        }
    }
}
