@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #fc2a54;
    --black: #000;

    // Default layout.
    --default-layout-header-height: 60px;
    --default-layout-width-content: 1150px;
}

html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SFProDisplay', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
}

.btn-default {
    height: 56px;
    width: 168px;
    color: #fff;
    background-color: #000000;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
