.wrap {
    display: flex;
    align-items: center;
    padding: 24px 0;
    a {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #a4a4a4;
    }
    img {
        margin: 0 16px;
    }
    .active {
        color: black;
    }
}
