.wrapper {
    width: 100%;
    background-color: #fafafa;
}

.container-row {
    display: flex;
    flex-direction: column;
    padding: 76px 0;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    h5 {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
    }
}

.arrow-row {
    width: 80px;
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
}

.categories-row {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}

.item {
    width: 160px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    border-radius: 8px;
    h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-top: 8px;
    }
}
