.container-wrap {
    padding: 32px 0;
    .wrap {
        display: flex;
        grid-gap: 36px;

        .item {
            color: #8b8b8b;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            list-style-type: none;
            position: relative;
        }
        .item::after {
            content: '';
            width: 0;
            height: 4px;
            background-color: black;
            border-radius: 4px;
            position: absolute;
            left: 0;
            bottom: -2px;
            transition: all 0.2s;
        }
        .item:hover::after {
            width: 100%;
        }
        .item:hover {
            color: black;
        }
        .active {
            color: black;
        }
    }
    .wrap__products-item {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        row-gap: 16px;
        .product-item {
            background-color: #f6f6f6;
            border-radius: 8px;
            padding: 24px 16px;

            .product-favorite {
                display: flex;
                justify-content: end;
            }
            .product-information {
                padding-top: 16px;
                text-align: center;
                p {
                    padding: 16px 0;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                }
                span {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 1px;
                }
                .btn {
                    margin-top: 16px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}
